<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Ripper</title>
    <link rel="stylesheet" href="/static/css/colours.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        img {
            width: 150px;
            height: auto;
            image-rendering: pixelated;
        }

        h1 {
            font-size: 1.5rem;
            color: var(--primary-color);
            text-shadow: 2px 2px var(--shadow-color);
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/static/logo.png" alt="Spotify Logo">
    <h1>Spotify Playlist Ripper</h1>
    <button onclick="window.location.href='/login'">Login With Spotify</button>
</body>
</html>
